
.card {
    display: flex;
    flex-direction: row;
    border : 1px solid lightcyan;
    color: lightgrey;
    background-color: black ;
    border-radius: 10px;
    width: 150px;
    padding: 25px;
    margin-left: 20px;
    cursor: pointer;
    -moz-osx-font-smothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    box-shadow: 0 0 10px black;
    flex-wrap: wrap;
    &:hover {
        box-shadow: 0 0 50px #80001c;
    }
}
  
.card:hover {
    transform: scale(1.10);
}
.card img {
    width: 150px;
    border: 1px solid #fdfcfc;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

