.formTitle {
    color: yellowgreen;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.inputField {
    background-color: black;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    padding: 8px;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    padding: 25px;
    margin-left: 20px;
    cursor: pointer;
  }

  .textareaField {
    background-color: black;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    padding: 8px;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    width: 100px;
    height: 20px;
    padding: 50px;
  }

  .selectField {
    background-color: black;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    padding: 8px;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
  }

  .option:hover {
    background-color: yellowgreen;
    color: black;
    }


  .button {
    background-color: yellowgreen;
    color: black;
    border: none;
    padding: 8px 16px;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    cursor: pointer;
  }

  .labels {
    color: yellowgreen;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
  }