.home {
    font-family: "Bigelow Rules";
    /* color: greenyellow; */
    color: aliceblue;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeDescription {
    font-size: 30px;
    color: greenyellow;
    margin-bottom: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    border: solid beige 5px;
  }

  .cardsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 2rem;
  }
  
  .formButton {
    font-family: "Bigelow Rules", cursive;
    font-size: 24px;
    color: rgb(253, 253, 253);
    background-color: #256ba9;
    width: 260px;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 5px 8px #63ba0033;
  }