.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 2rem;
  }
  
  .card {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    margin: 10px; /* Ajusta el margen según tus necesidades */
  }
  